body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8ebed;

}

.navbar {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    margin: 0px 0px;
    font-size: 18px;
    background-color: aliceblue;
    height: 60px;
}
.hidden {
    display: none !important;
}

.logo {
    background-color: yellow;
    height: 60px;
    width: 80px;
    font-size: 22px;
    padding: 18px;
}

a {
    padding: 18px;
    text-decoration: none;
    color: rgba(60, 60, 60, 0.901);
}

.header {
    margin: 0px auto;
    background-color: rgb(245, 247, 247);
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);

}

.mnames {
    text-align: left;
    padding-bottom: 20px;

}

.moviesname {
    margin: 18px auto;
    width: 60%;
}

input {
    margin: 2px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: rgb(49, 49, 49);
    background-color: #d2d3d4d3;
}

button {
    border: none;
    background-color: transparent;
    margin-top: 10px;
}

#addtext {
    border: 1px solid rgba(80, 79, 79, 0.442);
    border-radius: 1px;
}

.gallary {
    width: 65%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
}

.col {
    text-align: center;
    object-fit: cover;
    display: inline-block;

}

.cardforgallary {
    margin: 10px;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    height: 400px;
}

h6 {
    margin-top: 30px;
}

.name {
    font-size: medium;
    font-weight: 600;
    margin-bottom: -5px;
}

.episodes {
    font-weight: 300;
    font-size: small;
    color: gray;
}

.ghead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    font-size: medium;
    font-weight: 600;
}

#search {
    background-color: transparent;
    margin-top: 30px;
}

.moviecard {
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

.action {
    border: 1px dotted black;
    background-color: rgb(242, 244, 244);
    color: black;
    font-weight: 400;
}

.card {
    width: 95%;
    background-color: rgba(249, 249, 255, 0.934);
    margin: 3px auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    border-radius: 3px;
}

.card-body {
    background-color: aliceblue;
}

.tvshow-name {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid rgba(145, 144, 144, 0.493);
    border-radius: 1px;
    color: rgba(78, 76, 76, 0.8);
    padding: 10px;
}

.cardcol-md-3 {
    padding: 10px;
}

.img-fluid {
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.Subscribe {
    padding: 5px;
    width: 90%;
    margin: 0px 10px;
    margin-bottom: 10px;
}

.details-head {
    display: flex;
    justify-content: space-between;
}

.heart {
    color: rgb(138, 5, 5);
}

.form-group,
.input-group-text,
.form-control {
    height: 30px;
    text-align: center;
}

.form-group {
    background-color: rgb(255, 255, 255);
    height: 40px;
    border: 1px solid rgba(122, 120, 120, 0.652);
    border-radius: 1px;
}


#cardforadd {
    width: 60%;
    background-color: rgba(249, 249, 255, 0.934);
    margin: 50px auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.262);
    border-radius: 1px;
    /* padding: 20px; */
}

#add {
    border-radius: 3px;
    width: 70px;
    font-size: larger;
    font-weight: 500;
}

.card-log {
    background-color: aliceblue;
}

.input-group-text {
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 5px;
    overflow: hidden;
}


.hrline {
    display: flex;
    justify-content: space-between;
}

hr {
    background-color: rgb(0, 0, 0);
}

.input-group {
    border: 1px solid black;
    background-color: #f0f8ff;
    padding: 2px;
}

.form-control {
    border: none;
    text-align: left;
}

.bi-key-fill {
    transform: rotate(-90deg);
}

.form-control {
    background-color: #f0f8ff;
}

#signupBtn {
    border-radius: 1px;
}

.episode {
    border-left: 5px solid #000;
    padding-left: 8px;
    margin-bottom: 5px;
    /* height: 0px; */
    margin-left: 10px;
}

i {
    background-color: transparent;
}